.circle{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
}

.rectangle{
    width: 200px;
    height: 100px;
    background: red;  
}

.square{
    width: 100px;
    height: 100px;
    background: red;
}